input, fieldset, form { display: inline; font-size: 93%;}
input, fieldset, form { margin: 0; padding: 0; margin-bottom: -5px;}
#twitter-logo { margin-bottom: -5px;}

#twitter-mashup ul li { display: inline-block; list-style: none; padding: 3px;}

div.sentiment a.tt { width: 30px; height: 30px; display: block;}

div.sentiment {width: 30px; height: 30px; display: inline-block; border:1px solid black; margin: 3px;}
div.verygood { background: green; }
div.good { background: #99ff99; }
div.ok { background: white; }
div.bad { background: #ff9999; }
div.verybad { background: red; }

#legend li { list-style: none;}
#legend .sentiment { margin-bottom: -10px; margin-right: 10px;}